body {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

main {
    width: 100%;
    height: 50vh;
    padding: 50px;
    box-sizing: border-box;
	overflow: auto;
}

canvas {
    display: block;
}

.string {
    color: #ff2222;
}

.boolean.true,
.boolean.false,
.number {
    color: #0024ff;
}

.null,
.undefined {
    color: #818181;
}

.arrow > span,
p > span.object,
p > span.array,
li > span.object,
li > span.array {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    cursor: pointer;
    vertical-align: top;
}

.arrow > span::before,
p > span.object::before,
p > span.array::before,
li > span.object::before,
li > span.array::before {
    content: '';
    display: block;

    position: absolute;
    left: 0;

    border-top: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #797979;
}

.open.arrow > span::before,
p.open > span.object::before,
p.open > span.array::before,
li > span.open.object::before,
li > span.open.array::before {
    border-top: 9px solid #797979;
    border-left: 9px solid transparent;
}

.open > .arrayUl,
.open > .objectUl {
    display: block;
}

.objectUl,
.arrayUl {
    line-height: 1.4;
    list-style: none;
    display: none;
    padding-left: 20px;
}

.node,
.arrayNumber,
.objectValue {
    color: #9a00e0;
    vertical-align: top;
}

.opacity {
    opacity: 0.6;
}
